<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- <script src="js/vue.js"></script> -->
		
	</head>
	<body>
		
			<div style="width: 100%; height: 100px; background-color: #000000;" id="w">
				<div id="q">
				<a href="#">商城首页</a>
				<a href="#">所有分类</a>
				<a href="#">限时抢购</a>
				<a href="#">优惠团购</a>
				<a href="#">联系我们</a>
				</div>
				<div id="r">
					<p>Copyright © 2016-2022 MOUMOU 万果园  粤网文[20XX]03XX-1XX号  京ICP备1200XXXX号</p>
				</div>
			</div>
		
	</body>
	<script>
		// var vm=new Vue({
		// 	el:"#qw",
		// 	data:{
		// 		
		// 	}
		// })
	</script>
	<style>
		a{
			text-decoration:none;
			color:white;
			margin-left: 30px ;
			margin-top: 100px;
			
		}
		p{
			color:white;
			margin-left: 230px;
		}
		#q{
		width: 550px; height: 50px; 
		margin-left: 420px;
		padding: 20px;
		}
		#r{
			  width: 80%;
			  height: 50px; 
			  border-top:1px solid #888888;
			 margin-left: 140px;
			  margin-top: -40px;
			  font-size: 15px
			 
			
		}
		
	</style>
</html>
